DB_HOST=localhost
DB_PORT=5432
DB_NAME=paygateway
DB_USERNAME=pay_app_user
DB_PASSWORD=password123
JWT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

APP_BASE_URL=http://localhost:8080